#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PYBUILD_NAME=numpydoc

override_dh_auto_install:
	find .pybuild -name '.coverage' -delete
	find .pybuild -name 'junit-results.xml' -delete
	dh_auto_install

%:
	dh $@ --with python3 --buildsystem=pybuild

clean::
	dh_clean
	-rm -rf __pycache__ build .pybuild annexremote.egg-info dist
	-find . -name __pycache__ -type d -exec rm -rf {} \;
